@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.heading {
		@apply text-6xl;
	}

	.sub-head {
		@apply text-3xl;
	}
	.body-text {
		@apply text-lg;
	}
	.labels {
		@apply text-base;
	}
	.code {
		@apply text-sm;
	}
}

nav div#nav a.active {
	@apply text-accentOrange border-b border-b-accentOrange;
}

/* Hambuger Menu */
.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 24px;
	height: 2px;
	top: 0;
	left: 0;
	background: #fff;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(7px);
}
.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
